@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
    font-family: "Lexend", sans-serif;
    scroll-behavior: smooth;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

p{
    margin: 0;
    line-height: 1.4;
    font-weight: 300;
}